<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8"><title>Logo上传</title>
  </head>

  <body>
    <a href="/pageJumptoIndex">首页</a>
    <a href="/pageJumptoFilms">电影列表</a>
    <a href="/pageJumptoCharactersCreate">添加演员</a>
    <a href="/file/input">上传图标</a>
    <a>Logo上传</a>
    <span th:if="${msg}" th:text="${msg}"></span>
    <form name="fileUpload" action="/file/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file"/>
      <input type="submit"/>
    </form>

    <span th:if="${param.file}" th:text="${param.file}"></span><br>
    <span th:if="${param.contentType}" th:text="${param.contentType}"></span>

    <a th:if="${param.file}" th:href="@{/file/down/{file}(file=${param.file})}" th:text="${param.file}"></a>
  </body>
</html>