<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>首页</title>
  </head>

  <body>
    <a>首页</a>
    <a href="/pageJumptoFilms">电影列表</a>
    <a href="/pageJumptoCharactersCreate">添加演员</a>
    <a href="/file/input">上传图标</a>
    <table>
<!--      <thead>-->
<!--      <tr>-->
<!--        <th>编号</th>-->
<!--        <th>名字</th>-->
<!--        <th>地址</th>-->
<!--        <th>图标</th>-->
<!--        <th>电影</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tfoot>-->
<!--        <tr><td colspan="8">共计 <a th:text="${performanceCompanies.size}"></a> 条数据</td></tr>-->
<!--      </tfoot>-->
<!--      <tbody>-->
<!--        <tr th:each="companies:${performanceCompanies}">-->
<!--          <td th:text="${companies.count}"></td>-->
<!--          <td th:text="${companies.ID}"></td>-->
<!--          <td th:text="${companies.name}"></td>-->
<!--          <td th:text="${companies.address}"></td>-->
<!--          <td th:text="${companies.logo}"></td>-->
<!--        </tr>-->
<!--      </tbody>-->
    </table>
  </body>
</html>